<nav fxFlex="100%" class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(251,206,206);">
  <div class="container"><a class="navbar-brand" href="#" style="color: rgb(249,117,212);">Salon Diva B&amp;G</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div
      class="collapse navbar-collapse" id="navcol-1" style="color: rgb(221,60,60);">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(249,117,212);">Oferte</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(249,117,212);">Contacteaza-ne</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(249,117,212);">Despre noi</a></li>
      </ul><span class="navbar-text actions" style="color: rgba(239,54,54,0.5);"> <a class="login" href="#" style="color: rgb(249,117,212);">Log In</a><a class="btn btn-light action-button" role="button" href="#" style="background-color: rgb(249,117,212);">Sign Up</a></span></div>
  </div>
</nav>
