<body>

<div fxFlex="100%">

  <!--
<div id="promo" style="background-image:url('assets/img/xad.png');">
  <div class="jumbotron" id="divmare"><img id="img" src="assets/img/deda.png">
    <p style="font-family: 'Alfa Slab One', cursive;font-size: 25px;">Salon Diva B&amp;G, remodelare corporala.</p>
    <p><a class="btn btn-primary" role="button" style="background-color: rgba(255,130,242,0.63);">Despre noi</a></p>
  </div>
</div>
  -->
<header class="masthead text-white text-center" style="background-color: rgb(255,225,179);">
  <div class="container"><img class="img-fluid d-block mx-auto mb-5" width="200px" src="assets/img/deda.png">
    <h1>Salon Diva B&G</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Salon remodelare corporala</h2>
  </div>
</header>
<section id="portfolio" class="portfolio" style="background-image: linear-gradient(to right, rgb(251,206,206),rgb(255,225,179));">
  <div class="container" style="background-color: rgb(255,225,179);">
    <h2 class="text-uppercase text-center text-secondary">Despre noi</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-1">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
          </div><img class="img-fluid" src="assets/img/portfolio/cabin.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-2">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
          </div><img class="img-fluid" src="assets/img/portfolio/cake.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-3">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
          </div><img class="img-fluid" src="assets/img/portfolio/circus.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-4">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
          </div><img class="img-fluid" src="assets/img/portfolio/game.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-5">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
          </div><img class="img-fluid" src="assets/img/portfolio/safe.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-6">
          <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
          </div><img class="img-fluid" src="assets/img/portfolio/submarine.png"></a>
      </div>
    </div>
  </div>
</section>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="assets/js/freelancer.js"></script>
</div>
</body>
