<div fxFlex="100%">
<main class="page contact-us-page" style="height: 1600px">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Adauga o oferta</h2>
        <p>Aici putem adauga o imagine pentru oferta prin apasarea butonului choose file, selectarea acesteia, apoi putem adauga si un text, ceva scurt. Apasam butonul Send pentru a posta oferta</p>
      </div>
      <form>
        <div class="form-group">
          <input type="file" (change)="upload($event)" id="">
          <label>Message</label>
          <textarea matInput type="text" [(ngModel)]="Nume" name="Nume" style="width: 500px; height: 200px">
          </textarea>
          <button class="btn btn-primary btn-block" (click)="create()" type="submit">Send</button>
        </div>
      </form>
    </div>
  </section>
</main>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
